@model EZHR_Web.Models.WebPhrasesV

@{
    ViewBag.Title = "About";
}


<div class="ezhr-panel-heading-primary bg-info">
    <div class="panel-body bg-info ">
    
       <h2 class="text-center"> About Page </h2>

       @foreach (var webphrase in Model.WebPhrase)
       {
           if (webphrase.subsection > 50)
           {
               <p class="lead">
                   @Html.DisplayFor(model => webphrase.englishtext)
               </p>
           }
           if (webphrase.subsection < 50)
           {
               <p class="lead">
                   @Html.DisplayFor(model => webphrase.englishtext)
               </p>
           }
           if (webphrase.subsection >= 50 && webphrase.subsection < 79)
           {
               <p class="lead">
                   @Html.DisplayFor(model => webphrase.englishtext)
               </p>

           }
       }
    </div>
</div>
