@{
    ViewBag.Title = "About";
}
<div class="ta-back ta-border ">
    <div class="panel">
        <div class="row">
            <div class="col-md-10">
                <p class="lead">
                    @foreach (var webphrase in Model)
                    {
                        if (webphrase.subsection < 20)
                        {
                            <p class="lead">
                                <h6> webphrase.englishtext </h6>
                                @*EZHR Incident reporting will allow you to provide information concerning information about incidents in the work place.
                                At the end of the incident report you may provide a statement concerning specifics about the incident if you care to.
                                This data will only be used in the research of the incident.*@
                            </p>
                        }
                        if (webphrase.subsection > 50 && webphrase.subsection < 79)
                        {
                            <p>
                                <h6> webphrase.englishtext </h6>
                            </p>

                        }
                    }
                  </p>
                </div>
            </div>
        </div>
    </div>

