@{
    ViewBag.Title = "About";
}
<div class="ta-back ta-border ">
    <div class="panel">
        <div class="row">
            <div class="col-md-10">
                <p class="lead">
                    This is the Incident reporting web site for company, and is provided by EZHR Inc.
                    Information entered here will be used in reporting your incident, but your identity will be kept confidential, unless
                    the law concerning the incident you are reporting requires disclosing your identity.
                </p>
                <p class="lead">
                    Once the Incident has been reported you will be contacted to provide additional information and to help validate the incident more.
                </p>
                <p class="lead">             
                    If you are reporting a criminal act such a rape or physical abuse or any other such act while you are working or know of another employee
                    that is being physically abused in the work place or outside of the work place, you should also contact your local authorities
                    in additon to reporting it here.

                </p>
            </div>
        </div>
    </div>
</div>

