@model EZHR_Web.Models.WebPhrasesV
@{
    ViewBag.Title = "Contact";
}

<div class="ezhr-panel-heading-primary bg-info">
    <div class="panel-body bg-info ">
        <h2 class="text-center">
            Contact us
        </h2>
        @foreach (var webphrase in Model.WebPhrase)
        {
            if (webphrase.subsection <= 20)
            {
                <p class="lead">
                    @Html.DisplayTextFor(m => webphrase.englishtext)
                </p>
            }
            if (webphrase.subsection == 30)
            {
                <p class="lead">
                    @Html.DisplayTextFor(m => webphrase.englishtext)
                </p>
            }

            if (webphrase.subsection == 50)
            {
                <p class="lead">
                    @Html.DisplayTextFor(m => webphrase.englishtext)
                </p>
            }
            <p class="lead">
               @if (webphrase.subsection >= 70)
                {
                  @Html.DisplayTextFor(m => webphrase.englishtext)
                }
              </p>
        }

    </div>
</div>
