@{
    ViewBag.Title = "Home Page";
}

<script>
    function ClickButton1() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartIncident", "Incident")',
            async: true,
            success: function (msg) {
                ServiceSucceeded(msg);
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<div class="ta-back ta-border ">
<div class="panel">
    <p class="lead">
        EZHR Incident reporting will allow you to provide information concerning information about incidents in the work place.
        At the end of the incident report you may provide a statement concerning specifics about the incident if you care to.
        This data will only be used in th research of the incident.
    </p>
      <p class="lead">
        We request certain information to help investigate this incident, but you can also indicate on the next screen
        if you care to remain anonymous in reporting this incident.
    </p>
    <p>
        <input id="Button1" type="button" value="Start an Incident report" onclick="ClickButton1()">
      
    </p>
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Video Training </h2> 
       <p> EZHR provides a video training site that can provide you more information to help you understand
            your rights as a employee of your company. To access that site press on the EZHR Video Training link above.
        </p>   
        <p> If you feel that you require immediate assistance, call our offices using the Contact button above. 
        </p>
    </div>
    
</div>