@model EZHR_Web.Models.WebPhrasesV

@{
    ViewBag.Title = "Index";
}

<script>
    function FormLoadSuccess(xhr) {
        //$('#LoadOrderDetails').attr('disabled', true);
        //$('#existingCoCs').hide();
        //$('#create_OrderLookup_results').hide();
        BeginAjaxClient(xhr);

        function ClickButton1() {
            $.ajax({
                type: "POST",
                url: '../Incident/StartIncident',
                async: true,
                success: function(msg) {
                    ServiceSucceeded(msg);
                },
                error: function() {
                    return "error";
                }
            });
        }
    };
    

</script>
<div class="ezhr-panel-heading-primary bg-info">
    <div class="panel-body bg-info ">
        @using (Ajax.BeginForm("StartIncident", "Incident", null, new AjaxOptions()
        {
            LoadingElementId = "",
            HttpMethod = FormMethod.Post.ToString(),
            OnBegin = "",
            UpdateTargetId = "",
            OnFailure = "handleError",
            OnSuccess = "FormLoadSuccess(xhr)",
            InsertionMode = InsertionMode.Replace
        }, new { @class = "form-horizontal" }))
        {
            <h2 class="text-center"> EZHR Incident Reporting </h2>

            foreach (var webphrase in Model.WebPhrase)
            {
                if (webphrase.subsection <= 20)
                {
                    <p class="lead">
                        @Html.DisplayFor(model => webphrase.englishtext)
                    </p>
                }
                if (webphrase.subsection >= 21 && webphrase.subsection <= 40)
                { <h2>
                      
                      Virtual Training
                    </h2>
                    <p class="lead">

                        @Html.DisplayFor(model => webphrase.englishtext)
                    </p>

                }

                if (webphrase.subsection >= 41 && webphrase.subsection <= 60)
                {
                    <h2> Do you need immediate help? </h2>
                    <p class="lead">
                        @Html.DisplayFor(model => webphrase.englishtext)
                    </p>

                }
            }

            <div class="col-md-4">
                <p class="lead">
                    <input class="text-center" style="width: 120ex;border-color:goldenrod" id="Button1" type="submit" value="Start Incident Report" onclick="ClickButton1()">
                </p>

            </div>
        }
    </div>
</div>
