@model TRAntonIncidents.Incident
           
@{
    
}

<div class="Main">
    <div class="welcome">
        <p> Welcome to TrAnton Incident Reporting
        </p>
    </div>

</div>
    


















</div>