@model EZHRWeb_Business.Models.IncidentInput

<div>
    <div class="ezhr-panel-heading-primary bg-info">
        <div class="panel-body bg-info">
            <h2> IncidentReport is Completed </h2>
            
            <p>
                Your Incident Report is completed. 
                
                You will be contacted  to verify your Incident information by a member of our team. 
                
                Please close this web page now. 
                
            </p>
             
        </div>
    </div>

</div>
