@model EZHRWeb_Business.Models.IncidentInput

<div class="ta-back ta-border ">
    <div class="panel">
        <div class="row">
            <div class="col-md-10">
                <p>
                    The information we collect from this page iswill be used to only contact you unless you decide to not remain Anoyoumous.
                    certain types of reports require releasing your name if provided, but you will be consulted before this happens.
                </p>
                <p>
                    Enter your name
                    
                </p>
                <p>
                    Enter you date of birth  [MM/DD/YYYY]
                </p>
                <p class="lead">
                    Enter your phone number
                </p>
                <p class="lead">
                    If you have a email address please add it here.
                    It will only be used to contact you if needed and will not be shared with your incident report.
                </p>
                <p>
                    YES - I do not want my information shared with this report.
                    NO - Please use my name if needed for my report.
                </p>
            </div>
        </div>
    </div>
</div>

