<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZHRWeb_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EXHRWeb_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
       <add key="DBSqlComm" value="Data Source=192.168.1.85,1433;Network Library=DBMSSOCN;Initial Catalog=CorpACCHL;User ID=BEARS;Password=EZHR;"/>
       <add key="SqlComm" value="Data Source=192.168.1.85,1433;Network Library=DBMSSOCN;Initial Catalog=CorpACCHL;User ID=BEARS;Password=EZHR;"/>
  </appSettings>
  <applicationSettings>
    <EZHRWeb_DB.Properties.Settings>
      <setting name="SqlComm" serializeAs="String">
        <value>Server=tcp:tranton.database.windows.net,1433;Initial Catalog=CorpAccHLWeb;Persist Security Info=False;User ID= "bears";Password="Incident2019@";MultipleActiveResultSets=False;Encrypt=FAlse;TrustServerCertificate=False;Connection Timeout=30;</value>
      </setting>
    </EZHRWeb_DB.Properties.Settings>
    <EXHRWeb_DB.Properties.Settings>
      <setting name="SqlComm" serializeAs="String">
        <value>"Data Source=192.168.1.85,1433;Network Library=DBMSSOCN;Initial Catalog=CorpACCHL;User ID=BEARS;Password=EZHR;"</value>
      </setting>
    </EXHRWeb_DB.Properties.Settings>
  </applicationSettings>
</configuration>